.sheet{width: 100%;}
.mainheader{background-size:100%; background-attachment: fixed; background-image: url("/images/headerbg.jpg")}
.learn-button{
    color: #00517A;
    font-family: 'Raleway';
    border-radius: 2px;
}
.nav-button-theme{
    background-color: steelblue;
    color: #FFB80A;
}
a.nav-button-theme:hover{
    background-color: #FFB80A;
    color: #00517A;
}
.card{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: white;
}
a.button-theme{
	background-color: transparent;
	padding: 12px;
}
a.button-theme:hover{
	box-shadow: none;
	background-color: #FFB80A !important;
}

/*-------------------- Auto Sizing -------------------------*/
/*--------------------- Mobile CSS -------------------*/
@media only screen and (max-width: 600px){
	.mainheader{
		padding-top:60px;
		padding-left: 12px;
		padding-bottom: 12px;
	}
	.header-logo{
		font-size: 56px;
	}
	.header-motto{
		font-size: 16px;
	}
	.badge{
	  margin-top:12px;
	  max-height: 50px;
	}
	
	.main-footer{
		text-align: center;
		font-size: 12px;
		padding: 16px;
	}
	
	.footer-left{
		text-align: center;
	}
	.card{
		padding: 12px;
		box-shadow: none;
		padding-bottom: 24px;
		padding-top: 32px;
	}
	.group{
		padding-top: 32px;
		padding-bottom: 32px;
		padding-left: 4%;
		padding-right: 4%;
	}
	.group-head{
		font-family: 'Raleway';
		padding-top: 10px;
	}
	.group-text{
		text-align: left;
	}
	
	a.button-theme{
		border-radius: 3px;
	}
	a.button-theme:hover{
		box-shadow: none;
		background-color: #FFB80A !important;
	}
	
	.margin-top{
		margin-top: 2%;
	}
	button.button-theme{
		background-color: transparent;
		border-radius: 3px;
	}
	button.button-theme:hover{
		box-shadow: none;
		background-color: #FFB80A !important;
	}
	
	.button-theme{
		border-radius: 3px;
	}
	
	.button-theme:hover{
		box-shadow: none;
		background-color: #FFB80A !important;
	}
}

/*--------------------- Tablet CSS -------------------*/
@media only screen and (min-width: 580px) and (max-width: 991px){

	.sheet{
		max-width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: -10%;
	}
	.mainheader{
		padding-top: 150px;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 10%;
	}
	.header-logo{
		font-size: 72px;
	}
	.header-motto{
		font-size: 16px;
	}
	.card{
		padding: 24px;
		margin-top: 24px;
		border-radius: 4px;
		padding-bottom: 32px;
		margin-bottom: 12px;
		border-radius: 3px;
	}
	.content{
		margin-top:30px;
	}
	.group{
		padding-top: 32px;
		padding-bottom: 32px;
		padding-left: 4%;
		padding-right: 4%;
	}
	.group-head{
		font-family: 'Raleway';
		padding-top: 10px;
	}
	.group-text{
		text-align: justify;
	}
	.group-foot{
		margin-top: -10px;
		margin-left: 6%;
		margin-bottom: 24px;
	}
	
	.main-footer{
		font-size: 12px;
		padding: 18px;
	}
	
	.margin-top{
		margin-top: 2%;
	}
	button.button-theme{
		background-color: transparent;
		border-radius: 3px;
	}
	button.button-theme:hover{
		box-shadow: none;
		background-color: #FFB80A !important;
	}
	#html5{
	  max-width: 150px;
	}
	#js{
	  max-height: 60px;
	}
	
}

/*--------------------- Desktop CSS ------------------*/
@media only screen and (min-width: 992px){
	.sheet{
		margin-left:10%;
		margin-right: 10%;
		width: 80%;
		margin-top: -10%;
	}
	.mainheader{
		padding-top: 10%;
		padding-right: 10%;
		padding-left: 10%;
		padding-bottom: 10%;;
	}
	.header-logo{
		font-size: 72px;
	}
	.header-motto{
		font-size: 20px;
	}
	.group{
		padding-top: 32px;
		padding-bottom: 32px;
		padding-left: 4%;
		padding-right: 4%;
	}
	.group-head{
		font-family: 'Raleway';
		padding-top: 10px;
	}
	.group-text{
		text-align: left;
		min-height: 160px;
	}	
	.card{
		margin-bottom: 2%;
		padding: 2%;
		border-radius: 3px;
	}
	.content{
		padding:18px;
	}
	.main-footer{
		font-size: 14px;
		padding: 24px;
	}
	
	.margin-top{
		margin-top: 2%;
	}
	button.button-theme{
		background-color: transparent;
		border-radius: 3px;
	}
	button.button-theme:hover{
		box-shadow: none;
		background-color: #FFB80A !important;
	}
	
	#html5{
	  max-width: 200px;
	}
	#js{
	  max-width: 75px;
	}
}

/*-- Fonts --*/
.rale{font-family: 'Raleway';}
.meta{ font-family: 'Metamorphous'; }

/*-- Colors --*/
.bg-gold{background-color:      #FFB80A !important}
.bg-plat{background-color:      #E5E5E5 !important}
.bg-lightblue{background-color: #06AAFF !important}
.bg-darkblue{background-color:  #00517A !important}
.bg-brown{background-color:     #B23C00 !important}
.bg-steel{background-color: steelblue !important}
.gold-hover{background-color: #e6a400 !important}
.gold {color:       #FFB80A !important}
.plat {color:       #E5E5E5 !important}
.lightblue {color:  #06AAFF !important}
.darkblue{color:    #00517A !important}
.brown {color:      #F7C3A9 !important}
.steelblue{color:   steelblue !important}
.white{color: white !important}
.bg-white{background-color: white !important}